services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backups:/backups
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER:-postgres}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  backup:
    image: postgres:15-alpine
    profiles: [ "backup" ]  # запускается только когда нужно
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backups:/backups
    command: |
      bash -c "
        pg_dump -h postgres -U $${DB_USER} -d $${DB_NAME} > /backups/backup_$$(date +%Y%m%d_%H%M%S).sql
        echo 'Backup completed'
      "
    environment:
      - PGPASSWORD=${DB_PASSWORD}
    depends_on:
      - postgres
    networks:
      - app_network

  redis:
    image: redis:7-alpine
    container_name: redis_queue
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - app_network

  fastapi_app:
    build:
      context: ./src
    container_name: fastapi_app
    environment:
      SECRET_KEY: ${SECRET_KEY}
      URL: ${URL}
      TELEGRAM_TEST_CHAT_ID: ${TELEGRAM_TEST_CHAT_ID}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
    expose:
      - "8000"
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    depends_on:
      - redis
      - minio
    networks:
      - app_network

  minio:
    image: minio/minio
    container_name: minio_storage
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    command: server /data --console-address ":9001"
    expose:
      - "9000"
      - "9001"
    volumes:
      - minio_data:/data
    networks:
      - app_network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - fastapi_app
      - minio
    networks:
      - app_network

  telegram_bot:
    build:
      context: ./bot
    container_name: telegram_bot
    environment:
      SECRET_KEY: ${SECRET_KEY}
      BOT_TOKEN: ${BOT_TOKEN}
      URL_FRONT: ${URL_FRONT}
      URL_BACK: ${URL_BACK}
    depends_on:
      - fastapi_app
    networks:
      - app_network

  rq_worker:
    build:
      context: ./worker
    container_name: rq_worker
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT
    command: python -m worker
    depends_on:
      - redis
      - telegram_bot
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
  minio_data: